@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
  font-family: 'Special Elite', cursive;
}


main{
  min-height: 20vh;
}

/* #cardImg{
  height: 200px;
  width: 200px;
  object-fit: cover;
} */

.card-img-top{
  height: 300px;
  width: 300px;
}