/* @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); */

*{
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Stint Ultra Condensed', cursive; */
  font-family: 'Ubuntu Mono', monospace;
}


main{
  min-height: 80vh;
}

/* #cardImg{
  height: 200px;
  width: 200px;
  object-fit: cover;
} */

.card-img{
  height: 150px;
  width: 100px;
}

h4{
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.card{
  height: 375px;
  width: 200px;
}

#cTitle{
  letter-spacing: 3px;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

#charhead{
  letter-spacing: 3px;
  color: #3cf281;
}

#charTitle{
  color: #ea39b8;
  letter-spacing: 2px;;
}

p{
  letter-spacing: 1px;
}